*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(245, 242, 240);
    overflow-x: hidden;
}
.navContainer{
    display: flex;
    justify-content: center;
    z-index: 1;    /* used to put this in front of hero div*/
    position: fixed;
    width: 100%;
}
.appear{
    background-color: #443b2b;
    /* height: 2em; */
    transition: 0.2s ease-in-out;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 85em;
}
.logo{
    display: flex;
    font-weight: 400;
    padding: 1.5em 4em;
    color:#F2EFE9;
    font-family: Poppins;
    font-size: 1em;
} 

.logo p{
    letter-spacing: 0.1em;
    margin: 0 1.5em;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin:0  2em ;
    padding: 1em 0;
    border:hidden;
}
nav li a{
    color:#F2EFE9;
    text-decoration: none;
    position: relative;
}
.ulContainer{
    /* border: 1px solid black; */
    margin: 0 5em;
}
.ulContainer li a.active{
    color: #F2EFE9;
}
.ulContainer li a.active:after{
    width: 100%;
}
.ulContainer li a:after{
    content: "";
    position: absolute;
    background-color:#F2EFE9;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.ulContainer li a:hover{
    color:white ;
}
.fa-bag-shopping{
    padding: 1.5em 3em;
    color: white;
    border:hidden;
}
.ulContainer{
    display: flex;
}
.hero-background{
    background-image: url(images/back\ ground.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.details-container{
    display: flex;
    height: 93vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-top: 3em ;
    /* border: 1px solid white; */
    background: rgba(119, 119, 119, 0.6);
}
.headinImage{
    position: absolute;
    right: 16em;
    width: 17em;
    height: 23em;
    border-radius: 5px;
    transform: rotate(15deg);
}
.headinImage2{
    position: absolute;
    right: 10em;
    width: 17em;
    height: 23em;
    border-radius: 5px;
    transform: rotate(15deg);
}
.hero-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#464646;
    height: auto;
    width:80%;
    font-family: poppins;
    background-color: aliceblue;
    border-radius: 1em;
    padding: 2em 3em;
    transition: .5s;
}

.heroText{
    width: 23em;
    height: auto;
    margin: 0 5em;
}
h1{
    font-family: Poppins;
    line-height: 1.2;
    margin: 0.8em 0 0.5em 0;
}
p{
    font-weight: 400;
    margin: 0px 0;
    letter-spacing: 1.5px;
    line-height: 1.5;
}

.heroButton a{
    text-decoration: none;
    border-radius: 1.5em;
    padding: 12px 1.5em;
    margin:2em 2em 2em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: rgb(42, 42, 42);
    background-color: #d69b2d;
    font-weight: bold;
    transition: .1s ease-in-out;
}
.heroButton a:hover{
    background-color: #8C837B;
}
.fa-chevron-right{
    padding: 2px;
    margin-left: 1em;
}
.body-container{
    position: relative;
    height: auto;
    width: 100%;
    background-color: #F2EFE9;
}
section{
    display: flex;
    justify-content: center;
    color: rgb(58, 115, 129);
}
.section-Details{
    display: flex;
    width: 33em;
    padding: 3em 0 3em 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-Details h2{
    font-size: 28px;
}
.section-Details p {
    margin: 1em 0;
    font-weight: 450;
    letter-spacing: .2px;
    line-height: 1.5;
}
.Recomend{
    display: grid;
    width: fit-content;
    height: fit-content;
    padding: 0 5em;
    grid-template-columns: 3fr 3fr 3fr ;
    grid-template-rows: .2fr 3fr ;
    grid-template-areas: 
    "title title view"
    "card1 card2 card3";
    grid-gap: 2.5rem;
    grid-row-gap: .7rem;
    -ms-grid-column-align: end;
}

.Recomend h3{
    letter-spacing: .2px;
    font-weight: 700;
    grid-area: title;
}
#viewAll{
    font-size: 15px;
    text-decoration: none;
    color:  rgb(58, 115, 129);
    text-align: end;
    padding-top: 8px;
    grid-area: view;
}
.card{
    box-shadow: rgb(199, 199, 199) 3px 3px 10px;
    background-color: #F2EFE9;
    border-radius: 7px;
    width: 19em;
    height: auto;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card-images{
    width: 19em;
    border-radius: 7px 7px 0 0;
    margin-bottom: -5px;
}
.desContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5em 0;
}
.cardDes{
    padding: .6em .2em ;
    color: rgb(128, 100, 83);
    line-height: 1.3;
}
.Name{
    font-size: 22px;
}
.price{
    font-size: 12px;
    font-weight: 550;
    color: rgb(136, 136, 136);
}
.card-button{
    font-size: 14px;
    font-weight: 600;
}
.buy-now{
    background-color: #BFB3B0;
    color:#4d5257;
    text-decoration:none;
    padding: 10px 27px;
    border-radius: .5em;
    font-size: 13px;
    font-weight: 700;
}

.option{
    display: flex;
    margin-top: 7em;
}
.optImage{
    height: 20em;
    width: 25em;    
    background-color: rgb(172, 204, 212);
    background-image: url(images/options.svg);
    border-radius: 7px;
   
}
.option-Details{
    padding: 3em 12em 0 0;
    max-width: 25em;
    line-height: 1.5;
}
.option-Details h2{
    font-size: 28px;
    margin-bottom: .5em;
}

.testimonials{
    display: flex;
    margin-top: 7em;
}
.testimonial-Image{
    height: 20em;
    width: 25em;
    background-color: rgb(172, 204, 212);
    background-image: url(images/testimonial.svg);
    border-radius: 7px;
}
.testimonial-Details{
    padding: 3em 0 0 12em;
    max-width: 25em;
    line-height: 1.5;
}
.testimonial-Details h2{
    font-size: 28px;
    margin-bottom: .5em;
}
.testimonial-Details cite{
 color: rgb(187, 137, 104);
}

.delivery-Details{
    display: flex;
    border-radius: 15px;
    background-color: white;
    margin: 7em 0;
}
.deliveryText{
    padding: 3em;
    width: 23em;
}
.deliveryText h2{
    font-size: 28px;
}
.deliveryText p {
    margin: 1em 0;
    font-weight: 500;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1.4;
}
#map{
    width: 44em;
    height: auto;
    background-color: rgb(172, 204, 212);
    border-radius: 0 15px 15px 0;
}


/*product page.......................................*/

.newNav{
    background-color: #8C837B;
}
.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 120vh;
}


/*order page...........................................*/
.blank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}
.blank-image{
    width: 15em;
    height: auto;
}
.orders{
    margin-top: 3em;
    color: rgb(138, 163, 173);
}

footer{
    font-size: 14px;
    color:  rgb(58, 115, 129);
    background-color: #BFB3B0;
    padding: 3em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
footer ul{
    display: flex;
    align-items: center; 
}
footer ul li{  
    list-style: none;
    padding: .8em;
}
footer p{
    letter-spacing: 1px;
    width: 15em;
    text-align: center;
    line-height: 1.5;
    margin: 1em 0;
}
